/* (A) WHOLE PAGE */
html, body {
  margin: 0;
  padding: 0;
}
* {
  font-family: arial, sans-serif;
  font-size: 18px;
}
#chatShow, #chatForm { box-sizing: border-box; }

/* (B) CHAT HISTORY */
#chatShow { padding-bottom: 60px; }
.chatRow {
  display: flex;
  align-items: stretch;
  padding: 5px;
  border-bottom: 1px solid #eee;
}
.chatName, .chatMsg { padding: 5px; }
.chatName {
  background: #025cff;
  color: #fff;
  margin-right:10px;
}
.chatcontent
{
  margin-left: 230px;
}
/* (C) CHAT FORM */
.userbar {
  display: flex;
  position: fixed;
}
#chatForm {
  display: flex;
  position: fixed;
  margin-left: -230px;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 50px;
  padding: 10px;
  background: #eee;
}
#chatMsg { width: 100%; }
#chatGo { width: 30%; }
